# Starting a career in Four Asian Tigers country. Where do you go?

# 1. What is "Four Asian Tigers"?

Quoting from wikipedia article https://en.wikipedia.org/wiki/Four_Asian_Tigers:

*"Four Asian Tigers, are the economies of Hong Kong, Singapore, South Korea and Taiwan, which underwent rapid industrialization and maintained exceptionally high growth rates (in excess of 7 percent a year) between the early 1960s (mid-1950s for Hong Kong) and 1990s. By the early 21st century, all four had developed into high-income economies, specializing in areas of competitive advantage. Hong Kong and Singapore have become world-leading international financial centres, whereas South Korea and Taiwan are world leaders in manufacturing electronic components and devices. Their economic success stories have served as role models for many developing countries, especially the Tiger Cub Economies of southeast Asia"*

# 2. Why do you care?

Let's say you are a young and brilliant graduate from university and you aspires to start a career as a data scientist.

You feel empowered after having completed Applied Data Science course from University of Michigan. However, you are unsure which sector you would like to go. Would you start your career in:
* Financial sector, i.e. Singapore or Hongkong, or,
* Technological sector, i.e. South Korea or Taiwan?



## 1. Region and Domain



State the region and the domain category that your data sets are about.

https://hub.coursera-notebooks.org/user/snqwzxvcmyurudasirmlfj/files/readonly/Assignment4_example.pdf

In [1]:
import requests
import io

import numpy as np
import pandas as pd

In [2]:
# http://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv
# https://raw.githubusercontent.com/andriyantohalim/AppliedDataScienceMichigan/master/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_10363296.csv

In [ ]:
# http://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=csv
# https://raw.githubusercontent.com/andriyantohalim/AppliedDataScienceMichigan/master/API_SP.POP.TOTL_DS2_en_csv_v2_10363240.csv

In [ ]:
url="https://raw.githubusercontent.com/andriyantohalim/AppliedDataScienceMichigan/master/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_10363296.csv"

In [4]:
c=pd.read_csv("gdp.csv")

In [5]:
c.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.243909e+10,1.585657e+10,1.780429e+10,1.990732e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.904636e+10,1.954398e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.188368e+10,1.303854e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

In [ ]:
http://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv

## 2. Research Question

You must state a question about the domain category and region that you identified as being interesting.

## 3. Links

You must provide at least two links to publicly accessible datasets. These could be links to files such as CSV or Excel files, or links to websites which might hav edata in tabular form, such as Wikipedia pages.

## 4. Images

You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo’s principles of truthfulness, functionality,
beauty, and insightfulness.

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

## 5. Discussion

You must contribute a short (1-2 paragraph) written justification of how your visualization
addresses your stated research question.